@import "../../../css-config/mixins.scss";

.newsletter {
    width: 100%;
    display: flex;
    height: 400px;
    background-image: url("../../../assets/newsletter-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    .newsletter-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .small-text {
        margin-bottom: 15px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }

    .big-text {
        margin-bottom: 20px;
        font-style: 22px;
        line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 30px;

        @include md {
            font-size: 28px;
        }
    }

    .form {
        display: flex;
        gap: 5px;
        column-gap: 10px;
        margin-bottom: 10px;

        input {
            width: 100%;
            height: 40px;
            line-height: 28px;
            padding: 0 1rem;
            padding-left: 2.5rem;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            outline: none;
            background-color: #f3f3f4;
            color: #0d0c22;
            transition: .3s ease;

            @include md {
                width: 300px;
            }

        }

        button {
            padding: 0;
            margin: 0;
            border: none;
            background: none;
            --primary-color: #111;
            --hovered-color: #8e2de2;
            position: relative;
            display: flex;
            font-weight: 600;
            font-size: 20px;
            gap: 0.5rem;
            align-items: center;
            height: 40px;
           font-size: 16px;

            p {
                
                margin: 0;
                position: relative;
                font-size: 16px;
                color: var(--primary-color);
                @include md {
                    font-size: 19px;
                }
            }


        }
    }
    .text{
        margin-bottom: 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
    }
    .social-icons{
        display: flex;
        gap: 10px;
        .icon{
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.input::placeholder {
    color: #9e9ea7;
}
.email:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(216, 34, 104, 0.1);
}



button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  button p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button:hover::after {
    width: 100%;
  }
  
  button:hover p::before {
    width: 100%;
  }
  
  button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
    @include md{
        width: 18px;
    }
  }